<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>All JSP direct access</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>DEBUG</http-method>
            <http-method>CATS</http-method>
            <http-method>JEFF</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>MKCOL</http-method>
            <http-method>LOCK</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>
                No Access
            </description>
        </auth-constraint>
    </security-constraint>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropDown</servlet-name>
        <servlet-class>DropDown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDrop</servlet-name>
        <servlet-class>CheckDrop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eisServlet</servlet-name>
        <servlet-class>eisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CallServlet</servlet-name>
        <servlet-class>acr.net.CallServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CallEisServlet</servlet-name>
        <servlet-class>CallEisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>CaptchaServlet</servlet-class>
    </servlet>
    <display-name>captcha</display-name>
    <servlet>
        <servlet-name>SimpleCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logincheck</servlet-name>
        <servlet-class>logincheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EGS_upload</servlet-name>
        <servlet-class>roseindia.net.EGS_upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGovEmail</servlet-name>
        <servlet-class>com.updateEmail.UpdateGovEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmail</servlet-name>
        <servlet-class>com.updategovemail.UpdateEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAllocationMain</servlet-name>
        <servlet-class>uploadFundAllocation.UploadAllocationMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertExpenditureMain</servlet-name>
        <servlet-class>uploadFundAllocation.InsertExpenditureMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAllocationEditedMain</servlet-name>
        <servlet-class>uploadFundAllocation.UploadAllocationEditedMain</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCaptcha</servlet-name>
        <url-pattern>/simpleCaptcha.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
     NewServlet
        </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropDown</servlet-name>
        <url-pattern>/DropDown</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/stat.jsp</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/stat.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/stat.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/stat.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>CheckDrop</servlet-name>
        <url-pattern>/CheckDrop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eisServlet</servlet-name>
        <url-pattern>/eisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallServlet</servlet-name>
        <url-pattern>/CallServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallEisServlet</servlet-name>
        <url-pattern>/CallEisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logincheck</servlet-name>
        <url-pattern>/logincheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EGS_upload</servlet-name>
        <url-pattern>/EGS_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGovEmail</servlet-name>
        <url-pattern>/UpdateGovEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmail</servlet-name>
        <url-pattern>/UpdateEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAllocationMain</servlet-name>
        <url-pattern>/UploadAllocationMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertExpenditureMain</servlet-name>
        <url-pattern>/InsertExpenditureMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAllocationEditedMain</servlet-name>
        <url-pattern>/UploadAllocationEditedMain</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>slogin.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
